.fas.fa-dollar-sign {
  font-size: 100px;
}

.fa.fa-eye {
  font-size: 100px;
}

.fa.fa-user-times {
  font-size: 100px;
}

.fas.fa-user-check {
  font-size: 100px;
}

.fas.fa-user-clock {
  font-size: 100px;
}

.fas.fa-cash-register {
  font-size: 100px;
}

